* {
  background-color: rgb(246, 243, 239);
  margin: 0;
  font-family: Archivo Narrow, Arial;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(30, 32, 30);
}

a {
  text-decoration: none;
  color: rgb(30, 32, 30);
}

a::after {
  text-decoration: none;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 5px solid grey;
  margin-top: 20px;
  /* margin-right: 30px; */
}

.name {
  font-size: 80px;
  margin-top: 25px;
}

.profession {
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.top-right {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  font-size: 16px;
  margin-right: 0;
}

.info-row a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin-right: 0;
}

.icon {
  width: 24px;
  height: 24px;
}

.middle {
  display: flex;
}

.vertical-line {
  border: 3px solid grey;
  margin-top: 40px;
  margin-left: 20px;
}

.middle-left {
  width: 25%;
}

.education {
  border-bottom: 5px solid grey;
}

.key-skills {
  border-bottom: 5px solid grey;
}

.professional-profile {
  border-bottom: 5px solid grey;
}

.middle-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 1000px; */
}

.header {
  font-size: 27px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.description {
  font-size: 17px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.description-head {
  color: rgb(70, 68, 68);
  font-size: 20px;
  font-weight: 800;
  opacity: 0.9;
}

.key-skills ul {
  padding-left: 0;
  padding-bottom: 40px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  opacity: 0.7;
  margin-bottom: 20px;
  /* display: flex; */
}

.skills {
  width: 45px;
  height: 45px;
}

.work-experience li {
  list-style-type: disc;
  /* margin-bottom: 5px; */
}

.company {
  font-size: 17px;
  opacity: 0.7;
}
